<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lw.demo.adnroid.samples">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/XYDJAppTheme">
        <activity android:name=".MainActivity"></activity>
        <activity android:name="com.zed3.sipua.ui.UserInfoActivity"></activity>
        <activity
            android:name="com.zed3.sipua.ui.groupinviteinfo.GroupInviteInfoActivity"
            android:label="@string/title_activity_group_invite_info"
            android:theme="@style/XYDJAppTheme.NoActionBar" />
        <activity android:name="com.zed3.sipua.ui.group.IdelStateActivity"></activity>
        <activity android:name="com.zed3.sipua.ui.group.InviteMemberActivity">

        </activity>
        <activity android:name="com.zed3.sipua.ui.TestDemoMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>